@{
    ViewBag.Title = "Photo Gallery";
}
</br>
<h3 class="blue-grey-text">Photo Gallery</h3>
<div class="row">
    <div class="col-md-6">
        <h4 class="blue-grey-text">Roma</h4>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/img/IMG_9620.JPG">
                <span class="card-title">Colosseum</span>
            </div>
        </div>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">to Detail  &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h4 class="blue-grey-text">Florence</h4>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/img/IMG_0038.JPG">
                <span class="card-title">Uffizi Gallery</span>
            </div>
        </div>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">to Detail &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4 class="blue-grey-text">Venice</h4>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/img/IMG_0293.JPG">
                <span class="card-title">Gondola</span>
            </div>
        </div>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">to Detail &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h4 class="blue-grey-text">Milan</h4>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/img/IMG_0232.JPG">
                <span class="card-title">Duomo</span>
            </div>
        </div>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">to Detail &raquo;</a></p>
    </div>
</div>
</br>
</br>

