@{
    ViewBag.Title = "Home Page";
}
</br>
</br>
</br>
</br>
<div class="row">
    <div class="col-md-4">
        <h2 class="blue-grey-text">Azure1</h2>
        <p class="blue-grey-text">Hello World!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="blue-grey-text">Azure2</h2>
        <p class="blue-grey-text">Hello World!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="blue-grey-text">Azure3</h2>
        <p class="blue-grey-text">Hello World!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
</br>
</br>

